.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  font-family: inherit;
}

.d-flex {
  display: flex !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

/* .d-none {
  display: none !important;
} */
